 p {
     color: gold; background: cornflowerblue; text-align: center
    }
 img {
     color: gold; background: cornflowerblue
 }

 ul {
     color: gold; background: cornflowerblue
 }
 h1 {
     color: gold; background: cornflowerblue; text-align: center
 }

 h2 {
     color: gold; background: cornflowerblue; text-align: center
 }
 h3 {
     color: gold; background: cornflowerblue; text-align: center
 }

 h4 {
     color: gold; background: cornflowerblue; text-align: center
 }




